<div class="flex items-center overflow-hidden  h-screen w-screen bg-gray-100 justify-center">
  <div class="w-96 my-16 overflow-auto h-full bg-white flex flex-col">
    <div class="px-8 pt-8">
      <h1 class="text-black text-4xl text-justify">PJCSISS (Persatuan Jasmine Cantik Seluruh Indonesia) testing</h1>
    </div>
    <div class="mt-4 px-8">
      <img class="h-56 w-full rounded-md" src="http://cdn-dev.oss-ap-southeast-5.aliyuncs.com/rvn-retail-api/MCH-0682-1634101387360/2022/01/26/7b15706a-6e50-41a2-8d0b-d38cffb9400d.png?Expires=1643563725&OSSAccessKeyId=LTAI5tEQGPKPFCTSeiM2NoXf&Signature=%2BbvOA0PDAjoObzPcvqaoTWohcz4%3D" alt="asdasdasdasdas">
    </div>
    <div class="flex px-8 justify-between mt-4 text-gray-400">
      <div>Rp 100.000</div>
      <div>Snack Catering</div>
    </div>
    <div class="mt-4 justify-end flex px-8 gap-4">
      <button (click)="onClickFacebook()" class="text-blue-600">
        <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
      </button>
      <button (click)="onClickInstagram()" class="text-pink-500">
        <fa-icon [icon]="faInstagramSquare" size="2x"></fa-icon>
      </button>
      <button (click)="onClickWhatsapp()" class="text-green-500">
        <fa-icon  [icon]="faWhatsappSquare" size="2x"></fa-icon>
      </button>
      <button (click)="onClickTiktok()" class="text-black">
        <fa-icon  [icon]="faTiktok" size="2x"></fa-icon>
      </button>
      <button (click)="onClickTwitter()" class="text-blue-400">
        <fa-icon  [icon]="faTwitterSquare" size="2x"></fa-icon>
      </button>
      <button (click)="onClickLine()" class="text-green-400">
        <fa-icon  [icon]="faLine" size="2x"></fa-icon>
      </button>
    </div>
    <hr class="h-4 w-full my-4 bg-gray-200" />
    <div class="text-gray-600 pb-8 px-8 text-justify">
      <p>
        Snack Catering berisi lontong, kue pie, kue pisang, kue soes, pie susu, risoles, panada. Request dijual terpisah ya. bisa beli satuan
      </p>
    </div>
  </div>
</div>
